<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">{{content.name}}</span> from the list?</strong></p>
    <span class="text-danger">This operation cannot be undone.</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" ngbAutofocus  (click)="activeModal.close(true)">Ok</button>
</div>
