.card{
    height: 85vh;
    overflow-y: auto;
    background: transparent;
}

.card-body.breweries{
    background: rgb(213,156,51);
    background: linear-gradient( 
        180deg, 
        rgba(213,156,51,0.7791491596638656) 25%,
        rgb(169 112 14 / 77%) 55%, 
        rgb(187 96 10 / 86%) 88% );
    margin: 10px;
    border-radius: 5px;
    color: #801717;
    min-height: auto;
    max-height: 155px;
}
.beer-img{
    width: 50%;
}