<div class="container-fluid">
    
    <div class="row mx-0">
      <!-- Left Column -->
      <div *ngIf="breweryService.breweries.length > 0" class="card col-sm-12 col-md-12 col-lg-6 border-0 pl-0">
        <button type="button" class="btn btn-outline-primary-brown w-25 mb-2 align-self-end" (click)='addBrewery()'>Add brewery</button>
        <div class="card-body breweries m-0 mb-3" *ngFor='let brewery of breweryService.breweries'>
          <button type="button" class="close" aria-label="Close" (click)="openConfirmModal(brewery.id)">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="card-title">{{brewery.name}}</h5>
          <p class="card-text">Located in {{brewery.city}}, {{brewery.state}}</p>
          <a href="javascript:void(0)" (click)="getMoreInfo(brewery.id)" class="btn btn-primary-brown">More info</a>
        </div>
      </div>
    <!-- Right Column -->
      <div [ngClass]="breweryService.breweries.length > 0 ? 'col-lg-6' : 'col-lg-12'" class="pr-0">
        <button type="button" class="btn btn-outline-primary-brown float-right" (click)='getRandomBeerRecipe()'>Get Beer Recipe</button>
        <div *ngIf='randomRecipe else beerImage'>
          <div class="receipeContainer w-100 d-flex">          
            <div class="card-body p-1">
              <div class="d-flex mb-3">
                <div [ngClass]="breweryService.breweries.length > 0 ? 'col-lg-3' : 'col-lg-1'">
                  <img src="{{randomRecipe.image_url}}" alt="Beer Image" class="beer-img">
                </div>
                <div class="col-7">
                  <h5 class="card-title">{{randomRecipe.name}}</h5>
                  <p class="text-secondary">First Brewed in {{randomRecipe.first_brewed}}</p>
                  <p class="card-text">{{randomRecipe.description}}</p>
                </div>
              </div>
              <div [ngClass]="breweryService.breweries.length > 0 ? 'w-100' : 'w-75'">
                <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
                  <ngb-panel title="Ingredients">
                    <ng-template ngbPanelContent>
                      <ul class="list-group mb-2">
                        <li class="list-group-item border-0 pb-0">
                          <p class="m-0 pb-1">Malt</p>
                          <ul class="pl-0">
                            <li *ngFor="let malt of randomRecipe.ingredients.malt" class="list-group-item pl-3 py-1">
                              - {{malt.name}}, {{malt.amount.value}} {{malt.amount.unit}}
                            </li>
                          </ul>                
                        </li>
                        <li class="list-group-item border-0 pb-0">
                          <p class="m-0 pb-1">Hops</p>
                          <ul class="pl-0">
                            <li *ngFor="let hop of randomRecipe.ingredients.hops" class="list-group-item pl-3 py-1">
                              - {{hop.name}}, {{hop.amount.value}} {{hop.amount.unit}}
                            </li>
                          </ul>                
                        </li>              
                        <li class="list-group-item pl-4 py-1 border-0">
                          {{randomRecipe.ingredients.yeast}}
                        </li>
                      </ul>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel title="Food Pairing">
                    <ng-template ngbPanelContent>
                      <ul class="list-group mb-2">
                        <li *ngFor="let pairing of randomRecipe.food_pairing" class="list-group-item border-0 pl-4 py-1">
                          - {{pairing}}
                        </li>
                      </ul>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
    
                <p class="card-text mt-2 text-muted"> Brewer's Tip : {{randomRecipe.brewers_tips}}</p>
              </div>           
            </div>          
          </div>
        </div>
  
        <!-- Show place holder image until a receipe is shown -->
        <ng-template #beerImage>
          <div class="receipeContainer w-100 d-flex overflow-hidden mt-5 justify-content-center">
            <img src="../assets/img/beer.jpg" alt="Beer Image">
          </div>        
        </ng-template>
      </div>
    </div>
  </div>
  
  <!-- Brewery info modal -->
  <ng-template #aboutBrewery let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{breweryInfo.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">    
      <p class="d-flex">
        <span class="brewery_label col-4 d-inline-block font-weight-bold">Type</span>
        <span class="brewery_value col-8 d-inline-block">{{breweryInfo.brewery_type | titlecase}}</span>
      </p>
      <p class="d-flex">
        <span class="brewery_label col-4 d-inline-block font-weight-bold">Location</span>
        <span class="brewery_value col-8 d-inline-block">
          {{breweryInfo.city}}, {{breweryInfo.state}}
          <br>
          {{breweryInfo.country}}
          <br>
          {{breweryInfo.postal_code}}        
        </span>
      </p>
      <p class="d-flex">
        <span class="brewery_label col-4 d-inline-block font-weight-bold">Phone</span>
        <span class="brewery_value col-8 d-inline-block">{{breweryInfo.phone ? breweryInfo.phone : 'Not available'}}</span>
      </p>
      <p class="d-flex">
        <span class="brewery_label col-4 d-inline-block font-weight-bold">Website</span>
        <span class="brewery_value col-8 d-inline-block">{{breweryInfo.website_url ? breweryInfo.website_url : 'Not available'}}</span>
      </p>
    </div>
  </ng-template>

  <!-- Error modal -->
  <ng-template #errorModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Error</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">    
      <p>Please try again later!</p>
    </div>
  </ng-template>