<div class="container-fluid w-50 border border-brown rounded my-3 p-3">
    <h2 class="add-brewery text-center mb-3">Add brewery</h2>
    <form [formGroup]="addBreweryForm" class="" (ngSubmit)="add()">
        
        <div class="form-group row justify-content-center" >
            <label for="name" class="col-sm-4 col-form-label">Brewery name <span class="text-danger">*</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [ngClass]="{ 'border-danger': isSubmitted && formControls.name.errors }" id="name" formControlName="name" placeholder="Enter brewery name">
            
                <div *ngIf="isSubmitted && formControls.name.errors" class=" text-danger">
                    <div *ngIf="formControls.name.errors.required">Brewery name is required</div>
                </div>
            </div>            
        </div>

        <div class="form-group row justify-content-center">
            <label for="state"  class="col-sm-4 col-form-label">Type <span class="text-danger">*</span></label>
            <div class="col-sm-6">
                <select id="state" class="form-control" formControlName="type" [ngClass]="{ 'border-danger': isSubmitted && formControls.type.errors }">
                    <option value="Select">Select...</option>                    
                    <option value="Brew Pub">Brew Pub</option>
                    <option value="Contract">Contract</option>
                    <option value="Micro">Micro</option>
                    <option value="Planning">Planning</option>
                    <option value="Regional">Regional</option>
                </select>

                <div *ngIf="isSubmitted && formControls.type.errors" class="text-danger">
                    <div *ngIf="formControls.type.errors.required">Brewery type is required</div>
                </div>
            </div>             
        </div>

        <div class="form-group row justify-content-center">
            <label for="address" class="col-sm-4 col-form-label">Address <span class="text-danger">*</span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" formControlName="address" [ngClass]="{ 'border-danger': isSubmitted && formControls.address.errors }">

                <div *ngIf="isSubmitted && formControls.address.errors" class="text-danger">
                    <div *ngIf="formControls.address.errors.required">Address is required</div>
                </div>
            </div>            
        </div>
        <div class="form-group row justify-content-center">
            <label for="address2" class="col-sm-4 col-form-label">Address 2</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="address2" placeholder="Apartment, studio, or floor" formControlName="address2">
            </div>            
        </div>

        <div class="form-group row justify-content-center">
            <label for="city" class="col-sm-4 col-form-label">City <span class="text-danger">*</span></label>
            <div class="col-sm-6">
                <input type="text" placeholder="City" class="form-control" id="city" formControlName="city" [ngClass]="{ 'border-danger': isSubmitted && formControls.city.errors }">

                <div *ngIf="isSubmitted && formControls.city.errors" class="text-danger">
                    <div *ngIf="formControls.city.errors.required">City is required</div>
                </div>
            </div>              
        </div>

        <div class="form-group row justify-content-center">
            <label for="state"  class="col-sm-4 col-form-label">State <span class="text-danger">*</span></label>
            <div class="col-sm-6">
                <select id="state" class="form-control" formControlName="state" [ngClass]="{ 'border-danger': isSubmitted && formControls.state.errors }">
                    <option value="Select">Select...</option>
                    <option value="Alaska">Alaska</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="Colorado">Colorado</option>
                </select>

                <div *ngIf="isSubmitted && formControls.state.errors" class="text-danger">
                    <div *ngIf="formControls.state.errors.required">State is required</div>
                </div>
            </div>             
        </div>

        <div class="form-group row justify-content-center">
            <label for="zip" class="col-sm-4 col-form-label">Zip <span class="text-danger">*</span></label>
            <div class="col-sm-6">
                <input type="text" placeholder="Zipcode" class="form-control" id="zip" formControlName="zip" [ngClass]="{ 'border-danger': isSubmitted && formControls.zip.errors }">
                <div *ngIf="isSubmitted && formControls.zip.errors" class="text-danger">
                    <div *ngIf="formControls.zip.errors.required">Zipcode is required</div>
                </div>
            </div>              
        </div>

        <div class="form-group row justify-content-center">
            <label for="phone" class="col-sm-4 col-form-label">Phone <span class="text-danger">*</span></label>
            <div class="col-sm-6">
                <input type="text" placeholder="Phone" class="form-control" id="phone" formControlName="phone" [ngClass]="{ 'border-danger': isSubmitted && formControls.phone.errors }">
                
                <div *ngIf="isSubmitted && formControls.phone.errors" class="text-danger">
                    <div *ngIf="formControls.phone.errors.required">Phone number is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="email" class="col-sm-4 col-form-label">Website <span class="text-danger">*</span></label>
            <div class="col-sm-6">
                <input type="email" class="form-control" [ngClass]="{ 'border-danger': isSubmitted && formControls.email.errors }" id="email" formControlName="email" placeholder="Enter website url">
            
                <div *ngIf="isSubmitted && formControls.email.errors" class="text-danger">
                    <div *ngIf="formControls.email.errors.required">Website is required</div>
                </div>
            </div>
        </div>
  
      <div class="text-center mt-4 mb-2">
        <button type="button" class="btn btn-outline-secondary mr-5 w-25" (click)="goBack()">Cancel</button>
        <button type="submit" class="btn btn-outline-primary-brown w-25">Submit</button>
      </div>
    </form>
  </div>