/* You can add global styles to this file, and also import other style files */
body{
    background-color: #ff990045;
}
.accordion>.card>.card-header {
    background-color: rgb(187 96 10);
}

.btn-link, .btn-link:hover, .btn-link:active{
    color: white;

}
.card-header{
    padding: 0;
}

.accordion>.card .card-body{
    padding: .15rem
}

.btn-primary-brown, .btn-outline-primary-brown:hover{
    color: #fff;
    background-color: #56350f;
    border-color: #56350f;
}

.btn-primary-brown:hover{
    background-color: wheat;
}

.btn-outline-primary-brown:focus, .btn-primary-brown:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 150 0 / 45%);
}

.btn-link:focus{
    box-shadow: none;
}

.text-brown, .btn-outline-primary-brown, .btn-primary-brown:hover {
    color: #56350f;
}

.border-brown, .btn-outline-primary-brown {
    border-color: #56350f !important;
}

.align-self-end{
    align-self: end;
}